.git
.github
.env
.env.*

data
sing-box

cli-proxy-api
cliproxyapi/cli-proxy-api
cliproxyapi/config.yaml
cliproxyapi/docker-config.yaml
cliproxyapi/oa
cliproxyapi/logs
cliproxyapi/plugins

README.md
scripts
deploy/s-ui-server
